.navbar {
    margin: 10px auto;
    font-size: 1.2em;
}


a {
    border-radius: 10px;
    text-decoration: none;
}


.row > div > a:hover {
    background-color: #eee;
    /* text-decoration: underline; */
}

div > ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
}

ul li a:hover {
    background-color: #eee;
    /* border-radius: 10px; */
    /* color: goldenrod; */
}   